body{
    font-family:"Comic Sans MS",cursive ,sans-serif;
    font-size: medium;

}
div,span{
    border: 2px solid black;
    box-sizing: border-box;

}
/* background color for A and F */
div.id {
    background-color: yellow
}

div.class .id {
    background-color: yellow;

}
/* Italic text for D*/
span.class {
    font-style: italic;
}
/*positioning*/
body > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
#H {
    width: 33.33%;
    margin: 0 auto;
    text-align: right;
}
